[project]
	description = Short snippet that can be injected into PasswordBox to export all entries as clear text.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Magnus Klingenberg (klingenm)
[access "refs/for/refs/*"]
	read = group user/Magnus Klingenberg (klingenm)
	push = group user/Magnus Klingenberg (klingenm)
	label-Code-Review = -2..+2 group user/Magnus Klingenberg (klingenm)
	label-Verified = -1..+1 group user/Magnus Klingenberg (klingenm)
	rebase = group user/Magnus Klingenberg (klingenm)
	removeReviewer = group user/Magnus Klingenberg (klingenm)
	submit = group user/Magnus Klingenberg (klingenm)
[access "refs/heads/*"]
	read = group user/Magnus Klingenberg (klingenm)
	create = group user/Magnus Klingenberg (klingenm)
	push = +force group user/Magnus Klingenberg (klingenm)
	pushMerge = group user/Magnus Klingenberg (klingenm)
[access "refs/tags/*"]
	push = +force group user/Magnus Klingenberg (klingenm)
	pushTag = group user/Magnus Klingenberg (klingenm)
	pushSignedTag = group user/Magnus Klingenberg (klingenm)
